.ql-toolbar {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  background-color: white;
  z-index: 10;
}

.article-content iframe {
  width: 91.6%;
  max-width: 768px;
  margin-left: auto;
  margin-right: auto;
  height: 18rem;
  max-height: 24rem;
}

.ql-editor iframe {
  max-width: 768px !important; /* max-w-screen-md */
  width: 91.6%;
  margin-left: auto;
  margin-right: auto;
  height: 18rem;
  max-height: 24rem;
}
.ql-editor p {
  font-size: 1rem;
  line-height: 1.75rem;
  color: rgb(31, 41, 55);
}
.ql-editor img {
  margin-left: auto;
  margin-right: auto;
  object-fit: scale-down;
}
